# This configuration file should contain all required configuration parameters
# for the ingest workflow to run to completion.
#
# Define optional config parameters with their default values here so that users
# do not have to dig through the workflows to figure out the default values

# Expected pairs of metadata.xls and sequences.fasta to use as input
# The pairs of files are expected to be named as
#   - data/<YYYY-MM-DD-N>-metadata.xls
#   - data/<YYYY-MM-DD-N>-sequences.fasta
# where <YYYY-MM-DD> is the date the files were downloaded from GISAID
# and <N> is the number of the download since GISAID limits the number of records per download
# List the pair name, <YYYY-MM-DD-N>, to only include specific pairs
# Note the records are deduplicated by the `gisaid_id_field` and only the first
# record is kept, so list the prioritized pairs first.
# If left empty, workflow will glob for all `data/<YYYY-MM-DD-N>-metadata.xls`
# to include all pairs as input. These will be sorted in reverse order to
# prioritize the later downloads during deduplication.
#
# If you set this to "gisaid_cache" (e.g. via `--config gisaid_pairs='["gisaid_cache"]'`)
# then the pipeline will run without consuming any xlsx/fasta files
gisaid_pairs: []

# GISAID EPI ISL field to deduplicate the GISAID records by id prior to curation
gisaid_id_field: Isolate_Id

segments:
  - pb2
  - pb1
  - pa
  - ha
  - np
  - na
  - mp
  - ns

# Config parameters related to the curate pipeline
curate:
  # The path to the local geolocation rules within the pathogen repo
  # The path should be relative to the ingest directory.
  local_geolocation_rules: "defaults/geolocation_rules.tsv"
  # List of field names to change where the key is the original field name and the value is the new field name
  # This is the first step in the pipeline, so any references to field names in the configs below should use the new field names
  field_map:
    Isolate_Name: gisaid_strain
    Isolate_Id: gisaid_epi_isl
    Collection_Date: date
    Submission_Date: date_submitted
    Passage_History: passage
    Submitting_Lab: submitting_lab
    Originating_Lab: originating_lab
    Host: host
    Clade: gisaid_clade # used by avian-flu builds
    Domestic_Status: domestic_status # used by avian-flu builds
    Pathogenicity: pathogenicity
    Authors: authors # used by avian-flu builds
  lowercase:
    fields:
      - gisaid_clade
      - domestic_status
  gisaid_subtype_field: "Subtype"
  gisaid_lineage_field: "Lineage"
  gisaid_note_field: "Note"
  new_type_field: "vtype"
  new_subtype_field: "subtype"
  new_lineage_field: "lineage"
  lineage_annotations: "defaults/lineages.tsv"
  host_field: "host"
  # List of date fields to standardize to ISO format YYYY-MM-DD
  date_fields: ["date", "date_submitted"]
  # List of expected date formats that are present in the date fields provided above
  # These date formats should use directives expected by datetime
  # See https://docs.python.org/3.9/library/datetime.html#strftime-and-strptime-format-codes
  expected_date_formats: ["%Y", "%Y-%m", "%Y-%m-%d"]
  gisaid_location_field: "Location"
  location_annotations: "defaults/locations.tsv"
  gisaid_location_rules: "defaults/gisaid_location_rules.tsv"
  titlecase:
    # List of string fields to titlecase
    fields: ["region", "country", "division", "location"]
    # List of abbreviations not cast to titlecase, keeps uppercase
    abbreviations: ["USA"]
    # Articles that should not be cast to titlecase
    articles: [
      "and", "d", "de", "del", "des", "di", "do", "en", "l", "la", "las", "le",
      "los", "nad", "of", "op", "sur", "the", "y"
    ]
  passage_field: "passage"
  passage_category_field: "passage_category"
  gisaid_strain_field: "gisaid_strain"
  new_strain_field: "strain"
  # our hardcoded strain name fixes
  # NOTE: we currently also use fauna TSVs which aren't defined in this config
  # we should add those fixes into this file in due course
  strain_name_fixes: "defaults/strain_name_fixes.tsv" 
  gihsn_field: "gihsn_sample"
  age_field: "Host_Age"
  age_unit_field: "Host_Age_Unit"
  new_age_field: "age"
  gender_field: "Host_Gender"
  new_gender_field: "gender"
  # Path to the manual annotations file
  # The path should be relative to the ingest directory
  final_annotations: "defaults/final_annotations.tsv"
  # The ID field in the metadata to use to merge the manual annotations
  annotations_id: "strain"
  # The ID field in the metadata to use as the sequence id in the output FASTA file
  output_id_field: "strain"
  # The GISAID ID field used to prioritize records during strain deduplication
  gisaid_id_field: "gisaid_epi_isl"
  # The prioritized strain ids for strain deduplication.
  # Column added to metadata to annotate which strains are reference strains
  reference_column: "is_reference"


# The *filtering* block determines how the curated (all-influenza NDJSON) is sliced and diced
filtering:
  # The seasonal-flu phylo workflows start from TSV/FASTAs per lineage
  # NOTE [james]: This isn't all h3n2 as it's filtered to host=human. I toyed with the idea of naming
  # the dataset "seasonal-h3n2" for this reason, but the "h3n2" term is so ubiquitous in the
  # codebase that it felt egregious.
  h3n2:
    lineages: h3n2
    additional_field: host
    additional_field_values: human
    prioritized_strain_ids: defaults/h3n2/prioritized_strain_ids.tsv
    reference_strains: ../config/h3n2/reference_strains.txt
    metadata_columns: &seasonal-flu-metadata-columns
      - strain
      - gisaid_epi_isl
      - date
      - date_submitted
      - region
      - country
      - division
      - location
      - passage_category
      - originating_lab
      - submitting_lab
      - age
      - gender
      - gisaid_strain
      - gihsn_sample
      - is_reference
  h1n1pdm:
    lineages: h1n1pdm
    additional_field: host
    additional_field_values: human
    reference_strains: ../config/h1n1pdm/reference_strains.txt
    metadata_columns: *seasonal-flu-metadata-columns
  vic:
    lineages: vic
    additional_field: host
    additional_field_values: human
    reference_strains: ../config/vic/reference_strains.txt
    metadata_columns: *seasonal-flu-metadata-columns
  yam:
    lineages: yam
    additional_field: host
    additional_field_values: human
    reference_strains: ../config/yam/reference_strains.txt
    metadata_columns: *seasonal-flu-metadata-columns

  # Additional lineages requested for adhoc work, not part of our routine
  # seasonal-flu builds
  b:
    lineages: b
    lineage_field: vtype
    metadata_columns: &flu-metadata-columns
      - strain
      - gisaid_epi_isl
      - date
      - date_submitted
      - region
      - country
      - division
      - location
      - passage_category
      - originating_lab
      - submitting_lab
      - age
      - gender
      - gisaid_strain
      - gihsn_sample
  # Pre-pandemic h1n1 only, does not include h1n1pdm
  h1n1:
    lineages: h1n1
    metadata_columns: *flu-metadata-columns
  h2n2:
    lineages: h2n2
    metadata_columns: *flu-metadata-columns

  # The avian-flu workflows do the filtering themselves via `augur filter`
  # using the config key `subtype_query`. To prevent too many changes for the present time
  # we're going to continue to provision one big "avian-flu" dataset. (We may want to change
  # this in the future.)
  avian-flu:
    lineages:
      - h5nx # this'll include more than avian-flu currently subsamples to, but that's ok!
      - h7n9
      - h9n2
    metadata_columns: # <https://github.com/nextstrain/avian-flu/blob/f963447179c2b500b5598f056054374d3c9557a0/ingest/rules/ingest_fauna.smk#L37>
      - strain
      # Note: Fauna's 'virus' field (always "avian-flu") dropped
      # Note: Fauna's 'isolate_id' remapped to 'accession_ha'
      - date
      - region
      - country
      - division
      - location
      - host
      - domestic_status
      - subtype # Note: identical to *lineage* for all A-type, non h1n1pdm viruses
      - originating_lab
      - submitting_lab
      - authors
      - PMID
      - gisaid_clade
      # Note: h5 clade no longer available
      - pathogenicity # newly added (not used in fauna)

  # This dataset (for testing purposes only) replicates the previous "data/seasonal_flu.ndjson"
  # (target: `data/seasonal-flu-for-diffing/curated_gisaid.ndjson`)
  # Note that it won't go all the way to TSV/FASTA as it's missing config params
  # seasonal-flu-for-diffing:
  #   lineages:
  #     - h3n2
  #     - h1n1pdm
  #     - vic
  #     - yam
  #   additional_field: host
  #   additional_field_values: human

