name: Ingest

defaults:
  run:
    # This is the same as GitHub Action's `bash` keyword as of 20 June 2023:
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepsshell
    #
    # Completely spelling it out here so that GitHub can't change it out from under us
    # and we don't have to refer to the docs to know the expected behavior.
    shell: bash --noprofile --norc -eo pipefail {0}

on:
  workflow_dispatch:
    inputs:
      dockerImage:
        description: "Specific container image to use for build (will override the default of `nextstrain build`)"
        required: false
        type: string
      runtime:
        description: "Nextstrain runtime"
        type: choice
        default: "docker"
        options:
          - "docker"
          - "aws-batch"
      triggerAvianFlu:
        description: "Trigger nextstrain/avian-flu GenoFLU workflow"
        type: boolean
        required: true
      artifact-name:
        description: "Name to use for final artifact uploaded by this action"
        required: false
        type: string
        default: "build-outputs-ingest"

  workflow_call:
    inputs:
      triggerAvianFlu:
        description: "Trigger nextstrain/avian-flu GenoFLU workflow"
        type: boolean
        required: true
      artifact-name:
        description: "Name to use for final artifact uploaded by this action"
        required: false
        type: string
        default: "build-outputs-ingest"

jobs:
  ingest:
    permissions:
      id-token: write
    uses: nextstrain/.github/.github/workflows/pathogen-repo-build.yaml@master
    secrets: inherit
    with:
      runtime: ${{ inputs.runtime }}
      env: |
        NEXTSTRAIN_DOCKER_IMAGE: ${{ inputs.dockerImage }}
        SLACK_CHANNELS: ${{ vars.SLACK_CHANNELS }}
      # SLACK_TOKEN is a secret that is automatically passed via `inherit`
      run: |
        nextstrain build \
          --env SLACK_CHANNELS \
          --env SLACK_TOKEN \
          ingest \
          upload_all \
          --configfile build-configs/nextstrain-automation/config.yaml
      artifact-name: ${{ inputs.artifact-name }}
      # Explicitly excluding `ingest/data` and `ingest/fauna/data`
      # since this is private data and should not available through the public artifacts
      artifact-paths: |
        !ingest/data/
        !ingest/results/
        ingest/build.log
        ingest/logs/
        ingest/benchmarks/

  trigger:
    needs: [ingest]
    runs-on: ubuntu-latest
    steps:
      - if: ${{ inputs.triggerAvianFlu }}
        name: Trigger avian-flu/genoflu-gisaid.yaml
        run: |
          gh workflow run \
            genoflu-gisaid.yaml \
            --repo nextstrain/avian-flu
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_NEXTSTRAIN_BOT_WORKFLOW_DISPATCH }}
