name: Run the Nextstrain public builds

on:
  workflow_dispatch:
    inputs:
      dockerImage:
        description: "Specific container image to use for build (will override the default of `nextstrain build`)"
        required: false
        type: string

jobs:
  run-build:
    permissions:
      id-token: write
    uses: nextstrain/.github/.github/workflows/pathogen-repo-build.yaml@master
    secrets: inherit
    with:
      runtime: aws-batch
      env: |
        NEXTSTRAIN_DOCKER_IMAGE: ${{ inputs.dockerImage }}
      # Aiming to use c5.9xlarge instances with 36 CPUs and 72GiB memory
      # We need to define a lower amount of memory since the instance requires some overhead memory.
      # See <https://github.com/nextstrain/seasonal-flu/pull/298#discussion_r2729308445>
      run: |
        nextstrain build \
          --detach \
          --cpus 36 \
          --memory 64gib \
          . \
          deploy_all \
          -p \
          --configfile profiles/nextstrain-public.yaml
